*[itemtype="http://brett-zamir.me/ns/microdata/json-as-html/2"] {
    background-color:beige;
}

/*
To be more careful (esp. for those rules not using
itemprop or with itemprop not present), we could
namespace all of these under:
    *[itemtype="http://brett-zamir.me/ns/microdata/json-as-html/2"]
*/

dt {font-style:italic; color: green;}

/*
Currently not using "itemprop" or any other attribute, so no way to
distiguish these from each other given CSS' lack of :contains() selector:
i[itemprop="number"] {color:darkorange;}
i[itemprop="boolean"] {color:blue;}
i[itemprop="null"] {color:gray;}
*/

dd {color:red;}
dd > ol {color:purple;}


/*
This works but we don't want to encourage <ol> being moved around without @start
ol { counter-reset: item -1}
li { list-style-type: none; }
li:before {
    content: counter(item) ". ";
    counter-increment: item;
}
*/
